body {
  margin: 0;
  overflow: hidden;
  background-color: #000000;
  display: flex;
  justify-content: center;
}

#tv {
  height: 100%;
  position: absolute;
}

#tv > img {
  height: 100%;
}

#screen {
  width: 79vh;
  height: 57.8vh;
  position: absolute;
  top: 13.2vh;
}

#logo {
  width: 25%;
  max-width: 15%;
  position: absolute;
  aspect-ratio: 1 / 1;
  border-radius: 2px;
  background-color: red;
  filter: blur(1px);
}

#logo > img {
  width: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


/* Scanlines from https://codepen.io/meduzen */
:root {
  --scanline-color: rgba(60, 60, 60, 0.6);
}

.scanlines {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}
.scanlines:before {
  width: 100%;
  height: 2px;
  z-index: 2147483649;
  background: var(--scanline-color);
  opacity: 0.75;
  -webkit-animation: scanline 6s linear infinite;
          animation: scanline 6s linear infinite;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
  background: linear-gradient(to bottom, transparent 50%, var(--scanline-color) 51%);
  background-size: 100% 5px;
  -webkit-animation: scanlines 1s steps(60) infinite;
          animation: scanlines 1s steps(60) infinite;
}

@-webkit-keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}
@-webkit-keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}